@import url("https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-card: hsl(220.7, 56%, 9.8%);
  --color-background-light: #f1f5f9;
  --color-background-dark: hsl(222.2, 69.2%, 7.6%);
  --tab-p: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */
}

.table-zebra {
  & tbody {
    & tr {
      &:where(:nth-child(even)) {
        background-color: var(--color-base-100);

        &:where([data-theme="dark"], [data-theme="dark"] *) {
          background-color: var(--color-card);
        }
      }
    }
  }
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@layer base {
  * {
    --font-display: "Lexend", sans-serif;
    /* border radius */
    --radius-selector: 1.5rem;
    --radius-field: 1.5rem;
    --radius-box: 1.5rem;
    --radius-button: 1.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 0.02rem;
    --border-focus: 2px;
    --field-focus: 2px;

    /* effects */
    --depth: 0;
    --noise: 0;
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  font-family: var(--font-display);
}

.user-photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-outline {
  border-color: var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
}
.btn-outline:hover {
  background-color: var(--color-primary);
  color: white;
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(14px);
}

.m-none {
  margin: 0 !important;
}

:root[data-theme="dark"] {
  background-color: var(--color-background-dark);
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
