dist/
build/
coverage/
.vscode-test/
.pnp.*

# Package managers
package-lock.json
yarn.lock

# Editor
.idea
.eslintcache
.vscode/
.DS_Store
../.DS_Store
public
.env
# ignore environment files everywhere
**/.env
.DS_Store
