@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
layer(base);

@import 'tailwindcss';

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
  themes: all;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    --color-primary: rgba(230, 30, 90, 1);
    /* --color-base-content: rgba(230, 30, 90, 1); */
    --text-primary: rgba(230, 30, 90, 1);
    --primary: rgba(230, 30, 90, 1);
    --font-display: 'Fira Sans', sans-serif !important;
    --menu-active-bg: rgba(230, 30, 90, 1);
    --menu-active-fg: white;
    --menu-hover: rgba(230, 30, 90, 1);
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  font-family: var(--font-display);
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: white;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline:hover {
  background-color: var(--color-primary);
  color: white;
}

/* 

.input, .input-bordered {
  background-color: white;
}

.link, .link:hover {
  color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary) !important;
}

.border-primary {
  border-color: var(--color-primary) !important;
}

.ring-primary {
  border-color: var(--color-primary);  
}

.checkbox-primary, .checkbox-primary:not(checked) {
  --chkfg: white;
  --chkbx: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.checkbox-primary:checked {
  --chkbg: var(--color-primary);
}

.btn-active {
  background-color: rgba(230, 30, 90, .1);  
}

.white {
  color: white;
} */

.backdrop-blur-md {
  --tw-backdrop-blur: blur(14px);
}

.m-none {
  margin: 0 !important;
}
