@import url("https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
layer(base);

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-card: hsl(220.7, 56%, 9.8%);
  --color-background-light: hsl(0 0% 100%);
  --color-background-dark: hsl(222.2, 69.2%, 7.6%);
  --color-background-custom: hsl(187 71% 82%);
  --color-background-pastel: hsl(279 100% 93%);
  --tab-p: 0;
}

@plugin "daisyui" {
  themes: all;
}

@layer base {
  * {
    --radius-field: 0.5rem;
    --size-selector: 0.2rem;
    --color-primary: hsl(210.1, 85.1%, 50%);
    --text-primary: hsl(0 0% 100%);
    --primary: hsl(226.7, 27.3%, 6.5%);
    --font-display: "Lexend", sans-serif;
    --menu-active-bg: hsl(210.1, 85.1%, 50%);
    --menu-active-fg: hsl(0 0% 100%);
    --menu-hover: hsl(210, 83%, 34.5%);
  }
}

@layer base {
  [data-theme="light"] {
    --color-card: hsl(207 97% 12%);
  }
  [data-theme="dark"] {
    --color-card: hsl(0 0% 96%);
  }
  [data-theme="custom"] {
    --color-card: hsl(182, 87%, 39%);
  }
  [data-theme="pastel"] {
    --color-card: hsl(291 46% 83%);
  }
}

@layer utilities {
  .radio {
    box-shadow: 0 1px oklch(0% 0 0 / calc(var(--depth) * 0.1)) inset;
    --size: calc(var(--size-selector, 0.25rem) * 6);
    width: var(--size);
    height: var(--size);
    color: var(--color-primary);
  }

  .radio {
    &:checked,
    &[aria-checked="true"] {
      animation: radio 0.2s ease-out;
      border-color: var(--color-primary);
    }
  }
  radio {
    &:checked,
    &[aria-checked="true"] {
      &:before {
        background-color: var(--color-primary);
      }
    }
  }
  .tabs-border {
    border-top: 1px solid var(--color-card);
    border-radius: 0%;
  }
  .modal-box {
    background-color: var(--color-card);
  }
  .modal {
    &.modal-open,
    &[open],
    &:target {
      pointer-events: auto;
      visibility: visible;
      opacity: 100%;
      background-color: rgb(6, 14, 33, 0.8);
      backdrop-filter: blur(3px);
    }
  }
  .toggle {
    &:checked,
    &[aria-checked="true"],
    &:has(> input:checked) {
      grid-template-columns: 1fr 1fr 0fr;
      background-color: var(--color-primary);
      border: none;
    }
  }
  .table-zebra {
    & tbody {
      & tr {
        &:where(:nth-child(2n)) {
          background-color: rgb(11, 20, 39, 0.03);
        }
      }
    }
  }
  [data-theme="dark"] {
    .table-zebra {
      & tbody {
        & tr {
          &:where(:nth-child(2n)) {
            background-color: var(--color-card);
          }
        }
      }
    }
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  font-family: var(--font-display);
}

.user-photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--menu-hover);
  color: white;
  border-color: var(--color-primary);
}

.btn-outline {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline:hover {
  background-color: var(--color-primary);
  color: white;
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(14px);
}

.m-none {
  margin: 0 !important;
}

:root[data-theme="dark"] {
  background-color: var(--color-background-dark);
}

/* Hide scrollbar for Chrome, Safari and Opera */
main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

/* Hide scrollbar globally if needed */
body::-webkit-scrollbar,
html::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

body,
html,
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::placeholder {
  color: #64748b; /* Tailwind's slate-500 */
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #64748b; /* Tailwind's slate-500 */
}
